.character-list{
    border: 3px dashed darkcyan;
}
.starwars-info{
    border: 3px solid grey;
}
h3{
    font-weight: bolder;
    color: whitesmoke;
    font-family: serif;
    border-bottom: 1px dashed darkgoldenrod;
}